{% extends "layout.html" %}
{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input type="text" autofocus name="username" autocomplete="off" class="form-control mx-auto w-auto" placeholder="Username" required>
        </div>
        <div class="mb-3">
            <input type="password" name="password" class="form-control mx-auto w-auto" placeholder="Password" required>
        </div>
        <div class="mb-3">
            <input type="password" name="confirmation" class="form-control mx-auto w-auto" placeholder="Confirm Password" required>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
    <div>Already have an account? <a href="/login">Log In</a></div>
{% endblock %}